.works {
  --circle-opacity: 0;

  padding: var(--section-padding) 0;

  h2 {
    margin-bottom: 1rem;
  }

  .worksContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }

    .workContainer {
      border: 1px solid rgb(from var(--foreground) r g b / 0.3);
      background-color: rgb(from var(--background) r g b / 0.3);
      padding: 5px;
      border-radius: 12px;
      position: relative;
      overflow: hidden;

      --circle-pos-x: 1000px;
      --circle-pos-y: 1000px;

      &:before {
        content: "";
        position: absolute;

        /* initialize */
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        opacity: var(--circle-opacity);
        pointer-events: none;
        transition: opacity 500ms;
        background: radial-gradient(
          circle at var(--circle-pos-x) var(--circle-pos-y),
          rgba(255, 255, 255, 0.8) 80px,
          transparent 210px,
          transparent 100%
        );
      }
    }

    .workItem {
      background-color: #222;
      aspect-ratio: 16 / 9;
      overflow: hidden;
      border: 6px solid rgb(from var(--background) r g b / 0.7);
      border-radius: 9px;

      position: relative;
      transition: border 0.2s;

      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
        display: block;
      }

      &:active {
        border: 12px solid rgb(from var(--background) r g b / 0.7);
      }
    }
  }
}
