:root {
  --lightbox-button-color: rgb(169, 169, 169);
}

@keyframes blurIn {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(10px);
  }
}

.pswp--open.pswp--ui-visible {
  animation: blurIn 0.3s ease forwards;
}

.pswp__icn {
  color: var(--lightbox-button-color);
  filter: drop-shadow(0px 1px 1px rgb(0 0 0 / 0.6))
    drop-shadow(0px 0px 1px rgb(0 0 0 / 0.4))
    drop-shadow(1px 1px 1px rgb(0 0 0 / 0.2));
}

.pswp__top-bar {
  .pswp__counter {
    background: rgb(0 0 0 / 0.9);
    backdrop-filter: blur(10px);
    margin: 0;
    padding: 1rem;
    width: auto;
    height: auto;
    border-bottom-right-radius: 0.7rem;
  }

  .pswp__button {
    background: rgb(0 0 0 / 0.9);
    backdrop-filter: blur(10px);
  }
}

.pswp {
  .pswp__button--close {
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
  }
}

.pswp.pswp--zoom-allowed {
  .pswp__button--zoom {
    border-bottom-left-radius: 0.7rem;
  }
  .pswp__button--close {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.7rem;
  }
}

.pswp__button--arrow {
  width: auto;
  height: auto;
  display: block;
  margin: 0;
  padding: 1rem 0;
  transform: translateY(-50%);
  background-color: rgb(50 50 50 / 0.8);
  border: 1px solid var(--lightbox-button-color);
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: rgb(50 50 50 / 0.8);
    border: 1px solid var(--lightbox-button-color);
    cursor: pointer;
    padding: 1rem 0;
  }

  & .pswp__icn {
    all: initial;
    cursor: pointer;
    display: block;
    width: 21px;
    height: 21px;
    color: var(--lightbox-button-color);
    fill: currentColor;
    transition: translate 200ms 100ms;

    @media screen and (min-width: 768px) {
      width: 34px;
      height: 34px;
    }
  }

  &.pswp__button--arrow--prev {
    border-left: 0px solid var(--lightbox-button-color);
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    transition: padding-left 100ms ease-out;
  }

  &.pswp__button--arrow--next {
    border-right: 0px solid var(--lightbox-button-color);
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    transition: padding-right 100ms ease-out;

    & .pswp__icn {
      transform: scale(-1, 1);
      translate: -1px 0 0;
    }
  }

  &:hover {
    background-color: rgb(50 50 50 / 0.8);

    &.pswp__button--arrow--prev {
      padding-left: 0.8rem;
      & .pswp__icn {
        translate: 3px 0 0;
        filter: brightness(200%);
      }
    }

    &.pswp__button--arrow--next {
      padding-right: 0.8rem;
      & .pswp__icn {
        translate: -4px 0 0;
        filter: brightness(200%);
      }
    }
  }

  &:active {
    background-color: rgb(80 80 80 / 0.9);
  }

  @media screen and (hover: none) {
    display: none;
  }
}

.pswp__icn-shadow {
  stroke: transparent;
}

.pswp__container.animated {
  /* biome-ignore lint: important is needed here */
  transition: transform 333ms ease !important;
  @media screen and (hover: none) {
    transition: none;
  }
}
