:root {
  --background: #171717;
  --foreground: #ffffff;
  --link-color: #9cff6a;
  --shadow-color: rgb(36 36 36);
  --project-color: transparent;

  --header-transform-y: -100%;
  --header-height: 60px;
  --page-width: 1024px;
  --page-padding: 2rem;

  --text-size-xs: 0.56rem;
  --text-size-sm: 0.75rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.33rem;
  --text-size-xl: 1.78rem;
  --text-size-2xl: 2.37rem;
  --text-size-3xl: 3.16rem;
  --text-size-4xl: 4.21rem;
  --text-size-5xl: 5.61rem;

  --drop-shadow: drop-shadow(0px 0px 1px var(--shadow-color))
    drop-shadow(-1px -1px 0px var(--shadow-color))
    drop-shadow(1px 1px 0px var(--shadow-color))
    drop-shadow(1px 1px 0px var(--shadow-color))
    drop-shadow(1px 1px 0px var(--shadow-color))
    drop-shadow(1px 1px 0px var(--shadow-color))
    drop-shadow(1px 0px 0px var(--shadow-color));

  --text-shadow:
    0px 0px 1px var(--shadow-color), 0px 0px 2px var(--shadow-color), 0px 0px 3px var(
      --shadow-color
    ) /* ,0px 0px 0px var(--shadow-color) */, 0px 1px 0px var(--shadow-color), 0px 2px 0px var(
      --shadow-color
    ), 0px 3px 0px var(--shadow-color), 1px 0px 0px var(--shadow-color), 1px 1px 0px var(
      --shadow-color
    ), 1px 2px 0px var(--shadow-color), 1px 3px 0px var(--shadow-color), 2px 0px 0px var(
      --shadow-color
    ), 2px 1px 0px var(--shadow-color), 2px 2px 0px var(--shadow-color), 2px 3px 0px var(
      --shadow-color
    ), 3px 0px 0px var(--shadow-color), 3px 1px 0px var(--shadow-color), 3px 2px 0px var(
      --shadow-color
    ), 3px 3px 0px var(--shadow-color);

  interpolate-size: allow-keywords;
}

/* Prevent browsers from automatically changing color */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
    --link-color: #9cff6a;
    --shadow-color: rgb(36 36 36);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
    --link-color: #9cff6a;
    --shadow-color: rgb(36 36 36);
  }
}

@media (min-width: 500px) {
  :root {
    --page-padding: 3rem;
  }
}

* {
  scrollbar-color: var(--link-color) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--link-color);
}

/* test changed */

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  position: relative;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 
  WHY SHOULD I DO THIS?
  this actually makes the width bound clear to the browser
  when a child's width is 100%, it doesn't go offscreen
  */
  overflow-x: hidden;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* this is commented, but i don't want to forget */
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} 
*/

/* link styling */
a {
  color: var(--link-color);
  text-decoration: underline dotted;
  text-underline-offset: 5px;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 5px;
  }
}

/* outgoind links styling */
a.outgoing {
  position: relative;
  &:after {
    position: absolute;
    display: inline-block;
    rotate: -45deg;
    margin-left: 2px;
    scale: 0.8;
    content: "➔";
    text-decoration: none;
  }
}

/* typography */

body {
  line-height: 1.65;
  font-size: var(--text-size-md);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.15;
}

h1 {
  font-size: var(--text-size-5xl);
}
h2 {
  font-size: var(--text-size-4xl);
}
h3 {
  font-size: var(--text-size-3xl);
}
h4 {
  font-size: var(--text-size-2xl);
}
h5 {
  font-size: var(--text-size-xl);
}

small {
  font-size: var(--text-size-xs);
}

/* scroll margins */

section {
  scroll-margin-top: calc(var(--header-height) + 2rem);
}
