.debug {
  position: fixed;
  top: 50%;
  left: 50%;

  width: var(--width, 0);
  height: var(--height, 0);
  border: 1px solid red;
  transform: translate3d(-50%, -50%, 0);
  translate: var(--translateX, 0) var(--translateY, 0);

  pointer-events: none;
  z-index: 9999;
  display: block;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms;
  background: rgba(0, 0, 0, 1);
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
  transition: left 200ms ease-out;
  display: none;
}

.wrapperShown {
  display: block;
}

svg.hidden {
  height: 0;
  width: 0;
  position: absolute;
}

.grain {
  /* overflow: hidden; */
  filter: contrast(200%);
  height: 100%;
  background:
    radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 277 277' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='10' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.balls {
  height: 100%;
  width: 100%;
  filter: url(#goo);
  border: 3px solid salmon; /* like this!! */
  position: absolute;
  /* translate: var(--translateX,0) var(--translateY,0); */
}

@keyframes rushin {
  from {
    /* scale: 0; */
    /* opacity: 0; */
    /* translate: 50% 0 0; */
    transform: translate3d(0%, 0%, 0);
  }
  to {
    /* scale: 1; */
    /* opacity: 1; */
    /* translate: 0% 0 0; */
    transform: translate3d(-50%, -50%, 0);
  }
}

.ball {
  --diameter: 0px;
  --color: 0, 0, 0;
  --pos-x: 0%;
  --pos-y: 0%;
  --delay: 0ms;

  position: absolute;

  animation-name: rushin;
  animation-duration: 15s;
  animation-fill-mode: both;
  /* animation-timing-function: cubic-bezier(0.025, 0.725, 0.530, 0.475); */
  animation-timing-function: var(--rubbery);
  animation-delay: var(--delay);

  border-radius: 50%;
  mix-blend-mode: screen;
  filter: blur(75px);
  display: block;
  width: var(--diameter);
  height: var(--diameter);

  background: radial-gradient(
      circle at center,
      rgba(var(--color), 0.9) 0%,
      rgba(var(--color), 0) 100%
    )
    no-repeat;
  /* background: red; */

  top: 0%;
  left: 0%;
  translate: calc(var(--pos-x) + var(--translateX))
    calc(var(--pos-y) + var(--translateY));
  /* transform: translate3d(-50%, -50%, 0); */
}

/* safari only */
@supports (hanging-punctuation: first) and (-webkit-appearance: none) {
  .overlay {
    opacity: 0.2;
  }

  .grain {
    filter: brightness(90%) contrast(200%);
  }

  /* .ball { */
  /* mix-blend-mode: plus-lighter; */
  /* } */
}
