.menu {
  display: flex;
  align-items: center;
  position: relative;

  .menuButton {
    display: block;
    width: 1rem;
    cursor: pointer;
    opacity: 0.7;
    position: relative;
    border: 0px;

    span {
      display: block;
      height: 2px;
      background-color: var(--foreground);
    }

    span:nth-child(2) {
      margin: 3px 0;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &.opened {
    /* styles for opened state will be added here */
  }
}
