.menu {
  display: flex;
  align-items: center;
  position: relative;

  .menuButton {
    width: 1rem;
    cursor: pointer;
    opacity: 0.7;
    position: relative;
    border: 0px;

    span {
      display: block;
      height: 2px;
      background-color: var(--foreground);
      transform-origin: center center;
      transition: all 0.3s ease;
      rotate: 0deg;
    }

    span:nth-child(2) {
      margin: 3px 0;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.7;
    }

    &.opened {
      span:nth-child(1) {
        rotate: 45deg;
        translate: 0 5px;
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        rotate: -45deg;
        translate: 0 -5px;
      }
    }
  }

  .menuList {
    top: -8px;
    right: -16px;
    position: absolute;
    grid-template-columns: 1fr;

    background-color: rgb(from var(--background) r g b / 0.72);
    backdrop-filter: blur(20px);

    border-radius: 2rem;
    border-top-right-radius: 0.6rem;
    padding: 1.6rem 2rem;
    transform-origin: calc(100% - 23px) 21px;
    font-size: 0.9rem;
    overflow: hidden;

    transition:
      display 500ms allow-discrete,
      opacity 300ms ease 200ms,
      border-color 300ms ease;
    border: 1px solid transparent;
    opacity: 0;
    display: none;

    & > h3 {
      margin: 0;
      padding: 0;
      line-height: 1.4rem;
      font-size: larger;
      margin-bottom: 0.5rem;
      font-weight: 700;
      padding-right: 5rem;
      color: var(--link-color);
    }

    & > hr {
      border: none;
      border-top: 1px solid rgb(from var(--foreground) r g b / 0.4);
      margin: 0.5rem 0;
    }

    & > a {
      padding: 0.3rem 0;
      display: block;
    }

    & > a:hover {
      text-decoration: dotted underline;
      color: var(--accent);
    }

    & > h3,
    & > hr,
    & > a {
      transition: opacity 200ms ease calc(50ms * var(--i, 0));
      opacity: 0;
    }

    &.opened {
      & > h3,
      & > hr,
      & > a {
        opacity: 1;
      }

      transition:
        display 0ms allow-discrete,
        opacity 300ms ease,
        border-color 300ms ease 200ms;
      opacity: 1;
      border-color: rgb(from var(--foreground) r g b / 0.2);
      display: grid;

      @starting-style {
        /* biome-ignore lint/suspicious/noDuplicateProperties: because this is definitely not a duplicate */
        opacity: 0;
        border-color: transparent;
      }
    }
  }
}
