.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  padding: 1rem 0;
  border-bottom: 1px solid rgb(from var(--foreground) r g b / 0.1);
  translate: 0 var(--header-transform-y);
  transition: translate 0.3s ease;
  height: var(--header-height);
  display: flex;
  align-items: space-between;

  /* apply this on :before to let children have the same backdrop filter */
  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(from var(--background) r g b / 0.7);
    backdrop-filter: blur(20px);
  }

  a {
    text-decoration: none;
    color: inherit;

    span {
      display: inline-block;
      vertical-align: middle;

      svg {
        height: 21px;
        width: auto;
      }

      &:nth-child(2) svg {
        margin-left: 6px;
      }

      &:nth-child(3) svg {
        height: 15px;
      }
    }
  }

  .content {
    width: var(--page-width);
    padding: 0 var(--page-padding);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      .backButton {
        border-radius: 5px;
        padding: 0 0.3rem;
        align-items: center;
        cursor: pointer;
        opacity: 0.7;
        rotate: 180deg;
        display: none;
        border: 1px solid rgb(from var(--foreground) r g b / 0.6);

        &.visible {
          display: flex;
        }

        &:hover {
          opacity: 1;
        }

        &:active {
          opacity: 0.5;
        }
      }
    }
  }
}
