.container {
  --visibility: 0;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100lvh;
  z-index: 0;

  /* filter: contrast(200%) blur(55px); */
  /* filter: contrast(200%); */

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100lvh;
    background-color: rgba(23, 23, 23, var(--visibility));
    /* background-color: rgba(0,0,0, var(--visibility)); */
  }

  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100lvh;
  }
}

.scrollPos {
  position: absolute;
  left: 0;
  right: 0;
  top: 100vh;
  overflow: hidden;
  width: 100%;
  height: 0px;
  /* background-color: darkgreen; */
}
